@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@500&display=swap');

body{
    margin:0;
    font-family: "Asap Condensed", Trebuchet MS, sans-serif !important;
    background-image: url('../img/body-background.png');
}
header{
    text-align: center;
    color: black;
    background: rgb(248,207,7);
    border-radius: 5pt;
}
p{
    margin:0;
    padding:0;
}
a{
    text-decoration:none;
}
nav{
    background: #0e3d58;
    height: 70px;
    text-align: center;
    padding: 1rem;
}
nav a{
    
    color:black;
    font-size: 2rem;
    color: white;
    padding: 1rem;
}
nav a:hover{
    color: black;
    border: none;
    background: rgb(248,207,7);
    border-radius: 5pt;
}
.container{/*Contenedor Principal*/

    margin: auto;
    padding: 10px;;
    width: 61%;
    min-width: 400px;
    background-color: bisque;
    border-radius: 5px;
    display : flex;
    flex-wrap:wrap;
    
}
.card-margin{/*Contenedor para margen, sino se rompe el flex grow*/
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5;
    flex-basis: 20%;/*Tamaño inicial de la carta dentro del Container flex*/
    display:flex;
    flex-wrap:wrap;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.card{/*Contenedor de img,texto y precio*/
    min-width: 0px;/*Evita overflow*/
    min-height: 200px;/*Evita overflow*/
    border-radius: 5px;;
    background: rgb(230,224,193);
    background: linear-gradient(0deg, rgba(230,224,193,1) 0%, rgba(255,255,255,1) 100%);
    display: flex;
    flex-wrap:wrap;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    flex-grow: 1;
}
.card img{
    width:100%;
    margin: auto;
    filter:drop-shadow(0px 5px 5px grey);
} 
.card:hover {
    box-shadow: 0px 5px 15px 0px rgb(0, 0, 0);
}


.form-container{
    border: 1px solid black;
    background-color: bisque;
    width: 100%;
    display : flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.form-datos{
    display:flex;
    flex-direction: column;
}


/* .contacto{
    margin: 5px 5px;
    width:200px;
    height:250px;
    background: rgb(230,224,193);
    background: linear-gradient(0deg, rgba(230,224,193,1) 0%, rgba(255,255,255,1) 100%);
    text-align:left;
    padding: 16px;
    border-radius: 3px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.404);
    display:flex;
    flex-flow: column;
} */
/* .contacto  input{
    width:100%;
}

.contacto textarea {
    height: 100%;
    width:100%;
    resize: none;}
.contacto button{
    margin-top: 32px;
    width:103%;
} */


