@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@500&display=swap');

body{
    margin:0;
    font-family: "Asap Condensed", Trebuchet MS, sans-serif !important;
    background-image: url('../img/body-background.png');
}
header{
    text-align: center;
    color: black;
    background: rgb(248,207,7);
    border-radius: 5pt;
}
a{
    text-decoration:none;
}
nav{
    background: #0e3d58;
    height: 70px;
    text-align: center;
    padding: 1rem;
}
nav a{
    
    color:black;
    font-size: 2rem;
    color: white;
    padding: 1rem;
}
nav a:hover{
    color: black;
    border: none;
    background: rgb(248,207,7);
    border-radius: 5pt;
}
.container{
    border: 4px solid black;
    background-color: bisque;
    width: 100%;
    display : flex;
    flex-flow: row;
    flex-wrap:wrap;
    justify-content: center;/*Main axis*/
    align-items: center;/*Cross Axis*/
    align-content: flex-end;/*A donde va el spacio sobrante*/
    /*align-self para cards individuales*/
    flex: 0 1 auto;
    
}
/* .box{
    width: 150px;
    height: 350px;
    font-size: 4rem;
    text-align: center;
} */
.card{
    margin: 5px 5px;
    width:200px;
    height:250px;
    background: rgb(230,224,193);
    background: linear-gradient(0deg, rgba(230,224,193,1) 0%, rgba(255,255,255,1) 100%);
    text-align:center;
    border-radius: 3px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.404);
    display:flex;
    flex-flow: column;
    
}
.card:hover {
    box-shadow: 0px 5px 15px 0px rgb(0, 0, 0);
}
div.card img{
    margin-top: auto;
    margin-bottom: auto;
    filter:drop-shadow(0px 5px 5px grey);
} 



